# requirements.txt

# Framework web y servidor de producción
Flask
gunicorn

# Librerías de Google (Gemini y Sheets)
google-generativeai
google-api-python-client
gspread
google-auth-oauthlib

# Librerías para el procesamiento de imágenes y OCR
pytesseract
opencv-python
Pillow

# Librería para comunicación con la API de Twilio
twilio

# Utilidades
python-dotenv
requests